@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ResetPassword
@using WebTuyenSinh_Application.Modell

<div class="container">
    <h1 class="text-body">Đổi mật khẩu</h1>

    <form asp-action="ResetPassword" class="p-2" method="post">

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control login-register-input" />
        </div>
        <div class="form-group mt-4">
            <label> Mật khẩu</label>
            <input type="password" asp-for="Password" class="form-control login-register-input" />
        </div>
        <div class="form-group mt-4">
            <label>Nhập lại mật khẩu</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control login-register-input" />
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group mt-4">
            <button class="btn btn-primary" type="submit">Đổi</button>
        </div>

    </form>

</div>
