@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<div class="container col-8 p-4  text-center">
    <div class="alert alert-success" role="alert">
        <h3 class="">Vui lòng kiểm tra mail của bạn</h3>
    </div>
   
</div>