@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RegisterRequest
@using WebTuyenSinh_Application.Modell

@section Scripts{
    <script>
        $(document).ready(function () {
        
            $("#resgisModal").modal("show");
            $("#close").click(function () {
                window.location = "/Home/Addmission";
            });
        })

    </script>
}
<div class="modal fade"
     id="resgisModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header" style="background-color: #FFFDE7 ;">

                    <img class="modal-title" id="exampleModalLabel" style="width: 30%; display: block; margin-left: 35%;" src="https://utc2.edu.vn/upload/company/favicon-15725981454.ico" />

                </div>*@

            <div class="modal-body" style="background-color:#FAFAFA;">
                <div class="text-danger" asp-validation-summary="All"></div>

                <form asp-action="Register" method="post">
                    <h2 class="font-weight-bold text-center text-uppercase">Đăng ký</h2>
                    <div class="form-group mt-2">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control login-register-input" />
                    </div>
                    <div class="form-group mt-2">
                        <label>Họ Tên </label>
                        <input asp-for="UseName" class="form-control login-register-input" />
                    </div>
                    <div class="form-group mt-2">
                        <label>Số Điện Thoại</label>
                        <input asp-for="Telephone" class="form-control login-register-input" />
                    </div>
                    <div class="form-group mt-2">
                        <label>Mật Khẩu</label>
                        <input type="password" asp-for="Password" class="form-control login-register-input" />
                    </div>
                    <div class="form-group mt-2">
                        <label>Nhập Lại Mật Khẩu</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control login-register-input" />
                    </div>
                    <div class="form-group mt-2">
                        <label>Địa Chỉ</label>
                        <input asp-for="Adress" class="form-control login-register-input" />
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="BrithDay"></label>
                        <input asp-for="BrithDay" type="date" class="form-control login-register-input" />
                    </div>

                    <button type="submit" class="btn btn-success btn-block mb-4 mt-2"> Đăng Ký</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="close">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>
