@model Login
@using WebTuyenSinhClient.Models

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#loginModal").modal("show");
            $("#close").click(function () {
                window.location = "/Home/Addmission";
            });
        })

    </script>
}

<div class="modal fade"
     id="loginModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FFFDE7 ;">

                <img class="modal-title" id="exampleModalLabel" style="width: 30%; display: block; margin-left: 35%;" src="https://utc2.edu.vn/upload/company/favicon-15725981454.ico" />

            </div>
            <div class="modal-body" style="background-color:#FAFAFA;">
                <div class="text-danger" asp-validation-summary="All"></div>

                <form asp-action="Login" method="post">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control login-register-input" />
                    </div>
                    <div class="form-group mt-4">
                        <label   asp-for="Password"></label>
                        <input type="password"  asp-for="Password" class="form-control login-register-input" />
                    </div>
                    <div class="row mb-4 mt-2">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value=""
                                       id="form2Example34"
                                       checked />
                                <label class="form-check-label" for="form2Example34"> Lưu mật khẩu </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <a asp-action="ForgotPassword">Quên mật khẩu ?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block mb-4">Đăng nhập</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Chưa có tài khoản ?  <a class="btn btn-info" asp-action="Register">Đăng ký</a></p>
                        <p>hoặc đăng nhập bằng :</p>
                        <button type="button" class="btn btn-primary  mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <a class="btn btn-danger" asp-action="GoogleLogin">
                            <i class="fab fa-google"></i>
                        </a>

                        <button type="button" class="btn btn-info  mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>


                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="close">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>





