@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" style="height:300px">
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">Thông Báo</h3>
            <p class="card-text" style="font-size:20px">Đợt tuyển sinh này bạn đã đăng ký không thể đăng ký tiếp</p>
            <a href="/Home/Addmission" class="card-link">Vể trang tuyển sinh</a> 
            <span> ||</span>
            <a href="@ViewBag.Url" class="card-link"> Xem hồ sơ đăng lý</a>
        </div>
    </div>
</div>

