<div class="container" style="height:300px">
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">Thông Báo</h3>
            <p class="card-text" style="font-size:20px">  Đợt tuyển sinh đã kết thúc bạn không thể đăng ký được nữa </p>
            <a href="/Home/Addmission" class="card-link">Vể trang tuyển sinh</a>
           
        </div>
    </div>
</div>

