@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Admisstion>
@{

}
@using WebTuyenSinh.Data.Entityes;
<div class="position-fixed end-0 mt-5 pt-2 " style="z-index: 11">
    <div id="liveToast" class="toast hide bg-success text-white p-2" role="alert" aria-live="assertive" aria-atomic="true">
        Cập nhật thành công
    </div>
</div>

<div class="col-lg-12 grid-margin stretch-card" id="frm1">
    <div class="card">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="m-3 border-bottom pb-3">

                        <form id="frexport">
                            <div class="d-flex align-items-center">
                                <select required class="form-select col-4" id="selectAdmisstion" aria-label="Default select example">
                                    <option>Vui Lòng Chọn Đợt Tuyển Sinh </option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@(item.id+"/"+item.Type)">@item.Name</option>
                                    }
                                </select>

                                <div class="col-4">
                                    <input required class="form-control form-control-sm" id="exportFile" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                </div>
                                <button type="submit" id="btnExport" class="btn btn-sm btn-primary btn-round   " data-target="#addRowModal">
                                    <i class="ti-export"></i>
                                    Đọc file
                                </button>

                                <button type="button" id="btnSave" class="btn btn-sm btn-primary btn-round   " data-target="#addRowModal">
                               
                                    Lưu
                                </button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="data-table" class="display expandable-table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        CMND
                                    </th>
                                    <th>
                                        SBD
                                    </th>
                                    <th>
                                        Họ Tên
                                    </th>
                                    <th>
                                        Ngày Sinh
                                    </th>
                                    <th>
                                        Mã Ngành
                                    </th>
                                    <th>
                                        Tên Ngành
                                    </th>
                                    <th>
                                        Mã Tổ Hợp
                                    </th>
                                    <th>
                                        Thứ Tự Nguyện Vọng
                                    </th>
                                    <th>
                                        Khu Vực
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        <script>
                                    let id = 0;
                                    let ListId = [];
            let button;




            $(document).ready(function () {

                $('#frexport').on('submit', function (e) {
                    e.preventDefault(); // Now nothing will happen
                    readURL()
                })
                $('#btnSave').click(function () { // Now nothing will happen
                    if (ListId.length > 0) {
                        var admisstion = $("#selectAdmisstion").val().split("/");
                        $.ajax({
                            url: "/Admisstion/SaveResultProFile/" + admisstion[0],
                            type: 'POST',
                            async: false,
                            data: { ListId: ListId },
                            success: function (res) {
                                if (res.success) {
                                    swal("Đã lưu ", {
                                        icon: "success",
                                        buttons: {
                                            confirm: {
                                                className: 'btn btn-success'
                                            }
                                        },
                                    });
                                    ListId = [];
                                    $('#data-table').DataTable({
                                        data: [],
                                        destroy: true,
                                        //  searching: false,
                                        columns: [

                                            { data: "id" },
                                            { data: "SO_CMND" },
                                            { data: "So_BD" },

                                            { data: "HO_TEN" },
                                            { data: "NGAY_SINH" },
                                            { data: "MA_NGANH" },
                                            { data: "TEN_NGANH" },
                                            { data: "MA_TOHOPMON" },
                                            { data: "THUTU_NV" }, { data: "KHU_VUC" }
                                        ]
                                    });
                                }
                                else {
                                    swal("Lưu thất bại ", {
                                        icon: "error",
                                        buttons: {
                                            confirm: {
                                                className: 'btn btn-success'
                                            }
                                        },
                                    });
                                }
                                console.log(res);
                            }
                        });
                    }
                    else {
                        swal("Chưa có dữ liệu", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            },
                        });
                    }
                 
                });
                
            });
            function readURL(event) {

                var file = document.getElementById('exportFile').files[0];
                var reader = new FileReader();



                reader.onload = function (event) {
                    $("#txtFile").val("");
                    var data = event.target.result;
                    var workbook = XLSX.read(data, {
                        type: 'binary'
                    });
                    let check = true;
                    workbook.SheetNames.forEach(function (sheetName) {
                        // Here is your object
                        var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);

                        console.log(XL_row_object);
                        arr = [];
                        let cout = 0;

                        Req = [];
                        var admisstion = $("#selectAdmisstion").val().split("/");
                        if (check) {
                            for (var i = 0; i < XL_row_object.length; i++) {
                                arr.push(
                                    {
                                        So_BD: XL_row_object[i].So_BD,
                                        MA_NGANH: XL_row_object[i].MA_NGANH,
                                        CMND: XL_row_object[i].SO_CMND,
                                        TO_HOP: XL_row_object[i].MA_TOHOPMON
                                    }
                                )
                            }
                            $.ajax({
                                url: "/Admisstion/ImportExcel/" + admisstion[0],
                                type: 'POST',
                                async: false,
                                data: { str: JSON.stringify(arr) },
                                success: function (res) {
                                    Req = JSON.parse(res.data)
                                    console.log(Req.Data);
                                    $('#data-table').DataTable({
                                        data: Req.Data  ,
                                        destroy: true,
                                        //  searching: false,
                                        columns: [

                                            { data: "id" },
                                            { data: "SO_CMND" },
                                            { data: "So_BD" },

                                            { data: "HO_TEN" },
                                            { data: "NGAY_SINH" },
                                            { data: "MA_NGANH" },
                                            { data: "TEN_NGANH" },
                                            { data: "MA_TOHOPMON" },
                                            { data: "THUTU_NV" }, { data: "KHU_VUC" }
                                        ]
                                    });
                                    if (Req.Data != null) {
                                        ListId = Req.Data.map((x) => { return x.id })
                                    }
                                  //  console.log(Req.Data.map((x)=> { return x.id }));
                                }
                            });
                            console.log("ss")
                            console.log(Req);
                            check = false;
                        }
                     //   if (admisstion[1]==1) {
                          

                        

                      //  }

                     //  ;
                    })
                    }
                    reader.onerror = function (ex) {
                            console.log(ex);
                        };
                reader.readAsBinaryString(file);

            }

              //  $("#data-table").dataTable();
           // }
        </script>
    }

