@model List<Admisstion>
@{

}
@using WebTuyenSinh.Data.Entityes;
<div class="col-lg-12 grid-margin stretch-card" id="frm1">
    <div class="card">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="m-3 border-bottom pb-3">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Danh Sách Các Đợt Tuyển Sinh</h4>   
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="data-table" class="display expandable-table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Mã Xét Tuyển
                                                </th>
                                                <th>
                                                    Nôi Dung
                                                </th>
                                                <th>
                                                    Thời Gian Bắt Đầu
                                                </th>
                                                <th>
                                                    Thời Gian kết Thúc
                                                </th>
                                                <th>
                                                    Trạng Thái
                                                </th>
                                                <th>
                                                    #
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.id
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @(item.OpenTime!=null? item.OpenTime.ToString(): "Chưa cập nhật")
                                                    </td>
                                                    <td>
                                                        @(item.CloseTime!=null? item.CloseTime.ToString(): "Chưa cập nhật")
                                                    </td>
                                                    <td>
                                                        @if (item.Statust == 0)
                                                        {
                                                            <label class="badge badge-info">
                                                                Chưa diễn ra

                                                            </label>
                                                        }
                                                        @if (item.Statust == 1)
                                                        {
                                                            <label class="badge badge-success">
                                                                Đang diễn ra

                                                            </label>
                                                        }
                                                        @if (item.Statust == 2)
                                                        {
                                                            <label class="badge badge-warning">
                                                                Cập nhật hồ sơ

                                                            </label>
                                                        }
                                                        @if (item.Statust == 3)
                                                        {
                                                            <label class="badge badge-danger">
                                                                Đã Đóng

                                                            </label>
                                                        }


                                                    </td>
                                                    <td>
                                                        <div class="form-button-action">
                                                            <a href="/Admisstion/Detail/@item.id" data-toggle="tooltip" title="" class="btn  btn-icon-text text-primary  " data-original-title="Edit Task">
                                                                <i class=" ti-eye"></i>
                                                            </a>
                                                         
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
